streamlit
langchain==0.2.11
langchain-community==0.2.9
langchain-google-genai==3.0.0rc1  # <-- En son RC (Release Candidate) veya 3.0.0 sürümünü hedefliyoruz.
google-generativeai
chromadb==0.5.4
tiktoken

